body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    background-color: #4D6AFD;
    padding-right: 20px;
}

#logo {
    height: 100%;
}
#logo img {
    height: 100%;
}

#status {
    color: white;
}

#status ul {
    list-style: none;
    margin: 0 0 10px 0;
    padding: 0;
}

#status a {
    display: block;
    text-align: center;
    background-color: white;
    padding: 6px 0 0 0;
}

main {
    margin: 20px;
}

.succes {
    color: darkgreen;
    font-weight: bold;
    margin: 10px 0;
}

.error {
    color: red;
    font-weight: bold;
    margin: 10px 0;
}

input {
    width: 30%;
}


.icon {
    width: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 5px;
}

tr:nth-child(even) {
    background: whitesmoke;
}

tr:nth-child(odd) {
    background: lightgray;
}

a { 
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: black;
}
td.action {
    width:30px;
    text-align: center;
}
